h1 {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

#cart {
    display: flex;
    justify-content: center;
    border-top: 5px solid #90C3D4;
    border-bottom:5px solid #90C3D4;
}

.column {
    width: 18%;
    padding: 25px 0px;
}

#images img {
    display: block;
    height: 100px;
    width: auto;
    margin: 20px;
}

#songs p {
    font-size: 18px;
    height: 100px;
    color:black;
    margin: 20px;
    font-family: 'Work Sans', sans-serif;
}

#artists p {
    font-size: 18px;
    height: 100px;
    margin: 20px;
    font-family: 'Work Sans', sans-serif;
    color:white;
}

#lengths p {
    font-size: 16px;
    height: 100px;
    margin: 20px;
    text-align: right;
    font-family: 'Work Sans', sans-serif;
}

#links a {
    display: block;
    font-size: 18px;
    height: 100px;
    margin: 20px;
    font-family: 'Work Sans', sans-serif;
    color:#E6C2F2;
}


#form {
    width: 75%;
    margin: 0 auto 20px auto;
    font-size: 18px;
}

input {
    padding: 5px 10px;
    font-size: 14px;
}

#buttons {
    text-align:center;
}

button {
    font-size: 14px;
    padding: 5px 10px;
    width:120px;
    border:1px solid transparent;
    background-color:#90C3D4;
    margin-top:5px;
}


body {
    font-family: 'Lato', sans-serif;
    background-color:white;
}

#images {
    background-color:#000;
    text-align:center;
}

#songs {
    background-color:#E6C2F2;
    text-align:center;
}

#artists {
    background-color:#000;
    text-align:center;
}

#lengths {
    background-color:#E6C2F2;
    text-align:center;
}

#links {
    background-color:#000;
    text-align:center;
}

#deletecol {
    background-color:#E6C2F2;
    text-align:center;
}

#deletecol button {
    margin-bottom:85px;
}
